*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.slider-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.user a{
    color: #000;
}

.user a ion-icon{
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 50%;
}

.user a ion-icon:hover{
    background-color: rgb(8, 8, 8);
    color: #fff;
}

.navbar-nav .nav-item{
    margin: 0px 15px;
    position: relative;
}

.navbar-nav .nav-item .nav-link::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #0d6efd;
    transition: .5s;
    bottom: 0;
    left: 0;
}

.navbar-nav .nav-item::after:hover{
    width: 100%;
}

.navbar-nav .nav-item:hover .nav-link::after{
    width: 100% !important;
}


.navbar-nav .nav-item:hover .nav-link{
    color: #0d6efd;;
}


.cart a ion-icon{
    font-size: 22px;
    color: #000;

}

.feature-item{
    height: 300px;
}

.feature-item img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

#delivery{
    background-image: url(../images/bg/free-delivery.jpg);
    background-size: cover;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;

}


/* ----featured product section---- */

.section-title h2{
    position: relative;
    font-size: 28px;
}
.section-title h2::after{
    position: absolute;
    content: '';
    height: 3px;
    background-color: #0d91fd8c;
    width: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.product-item{
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 0px 8px lightgray;
    transition: .3s;
}

.product-item h3{
    font-size: 22px;
    margin-bottom: 0;
}

.product-item:hover{
    box-shadow: 3px 2px 12px lightgray;
    transform: scale(1.01);
}

.product-item img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.product-detail{
    background-color: #f9f9f9;
    width: 100%;
}

.stars{
    color: orange;
}

.buy-icon{
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align:center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightgray;
}

.buy-icon ion-icon{
    font-weight: 800;
    color: #000;
}

.buy-icon:hover{
    background-color: rgb(56, 56, 56);
}

.buy-icon:hover ion-icon{
    color: #fff;
}


/* ----blog section---- */

.blog-item-right{
    background-image: url(../images/bg/bg-blog.png);
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    padding-bottom: 30px;
}

.blog-item-right h2{
    color:rgb(56, 56, 56);
    font-size: 35px;
    letter-spacing: 5px;
}

.blog-item-right .blog-btn{
    background-color: #00A3FF;
    padding: 8px 30px;
}

.blog-item-right .blog-btn:hover{
    background: transparent;
    color: #000 !important;
    border: 1px solid #00A3FF;
}

.blog-social{
    background-color: #414D60;
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    bottom: 70px;
    width: 80%;
}

.blog-social h5{
    font-size: 18px;
    margin-bottom: 0;
}

.blog-links a{
    color: #fff;
    font-size: 20px;
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.2s;
}

.blog-links a:hover{
    border: 1px solid #fff;
}


/* ---- exclusive offer section */

#exclusive-offer{
    background-image: url(../images/bg/exclusive-offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer-btn{
    background-color: #fff;
    color: #00A3FF;
    font-size: 14px;
    padding: 8px 25px;
}

.offer-btn:hover{
    border: 1px solid #000;
}

/* ----  exclusive product section ----- */

.price-change h4{
    color: #E15555;
}

.name-off  p{
    color: #E15555;
    font-weight: 700;
}

.price-change h5{
    text-decoration: line-through;
}

/* ---- sale section ---- */

#sale{
    background: url(../images/bg/bg-blog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sale h1{
    font-size: 90px;
    color: #E15555;
}

#sale h3{
    font-weight: 400;
    margin-bottom: 10px;
}

#sale p span{
    font-size: 40px;
    margin: 0 10px;
    font-weight: 700;
    color: #E15555;
}

.sale-btn{
    background: #00A3FF;
    padding: 8px 35px;
    color: #fff;
}

/* ---- review section ---- */


.review-item{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 2px 8px lightgray;
    transition: .3s;
}

.review-item:hover{
    box-shadow: 8px 5px 12px lightgray;
    transform: scale(1.01);

}

.review-stars{
    color: orange;
}


footer{
    background-color: #2E3747;
    color: #fff;
}

.child-footer h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.list-unstyled a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.list-unstyled a:hover{
    text-decoration: underline;
}

.footer-contact li ion-icon{
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    margin-right: 8px;
}

.footer-social li a ion-icon{
    background-color: #fff;
    color: #000;
    padding: 5px;
    font-size: 18px;
    border-radius: 50%;
}

.footer-social li{
    margin-right: 15px;
}

.footer-social li:nth-child(1):hover a ion-icon{
    color: #3b5998;
}

.footer-social li:nth-child(2):hover a ion-icon{
    color: #00acee;
}

.footer-social li:nth-child(3):hover a ion-icon{
    color: #D72A78;
}

.singnature p a{
    text-decoration: none;
    color: #00A3FF;
}